@import "tailwindcss";
@import "flowbite/src/themes/default";

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

@theme {
  --color-mc-bg: #fff1f1;
  --color-mc-bg-card: #ffffff;
  --color-mc-btn: #ffb6b6;
  --color-mc-text: #333333;
  --color-mc-border: #333333;
  --color-mc-accent: #bee3db;
  --breakpoint-2md: 56rem;
}

@layer utilities {
  .mc-icon-hover {
    @apply cursor-pointer shadow-lg transition-all duration-200 hover:scale-110 hover:-rotate-6;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}

html,
body {
  @apply bg-mc-bg flex w-full h-full flex-col items-center justify-start;
}

p {
  @apply text-mc-text;
}

.mc-des p::before {
  content: "៚ ";
}

.profile-anime {
  animation: morphing 10s infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

.box-anime {
  border: 3px solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
